In [3]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [6]:
import sys
print("Python version: "+sys.version)

Python version: 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [16]:
from datetime import datetime
now = datetime.now()
print("Date: "+now.strftime("%d/%m/%Y"))
print("Time: "+now.strftime("%H:%M:%S"))

Date: 24/10/2021
Time: 10:13:11

In [30]:
import math

RAD=float(input("Radius of the circle: "))
AREA=math.pi*(RAD**2)
print("Area =%.2f" %AREA)

Radius of the circle: 60
Area =11309.73

In [31]:
firstName=input("Enter your first name: ")
lastName=input("Enter your last name: ")

print(lastName+" "+firstName)

Enter your first name: Rao
Enter your last name: Umar
Umar Rao

In [34]:
num1=int(input("Enter first number: "))
num2=int(input("Enter second number:"))

print("Sum: ")
print(num1+num2)

Enter first number: 60
Enter second number:40
Sum:
100

#

In [66]:
score=[]
sub=["Maths","Eng","Urdu","Science","PST"]

def grade(num):
    if num>=91 and num<=100:
        return "A+"
    elif num>=81 and num<91:
        return "A"
    elif num>=71 and num<81:
        return "B+"
    elif num>=61 and num<71:
        return "B"
    elif num>=51 and num<61:
        return "C+"
    elif num>=41 and num<51:
        return "C"
    elif num>=0 and num<41:
        return "F"
    else:
        return "Invalid score"

total=0
for i in range(0, 5):
    num= int(input("Enter marks of subject "+str(i+1)+": "))
    score.append(num)
    total+=num
    
print("Subjects"+"\t"+"Grade")
for i in range(0, 5):
    print(str(sub[i])+"\t\t"+grade(score[i]))
    
print("Total Marks: "+"\t"+"500")
print("Obtained: "+"\t"+str(total))

Enter marks of subject 1: 54
Enter marks of subject 2: 65
Enter marks of subject 3: 76
Enter marks of subject 4: 87
Enter marks of subject 5: 98
Subjects	Grade
Maths		C+
Eng		B
Urdu		B+
Science		A
PST		A+
Total Marks: 	500
Obtained: 	380

In [70]:
num=int(input("Enter any number: "))

if(num%2!=0):
    print(str(num)+" is odd")
else:
    print(str(num)+" is even")

Enter any number: 1024
1024 is even

In [74]:
LIST=["FST","MSIM","DSAA","MIT","DBMS"]
print(len(LIST))

5

In [77]:
NUM=[0,11,22,33,44,55]
SUM=0
for i in range(0, len(NUM)):
    SUM+=NUM[i]
print("Sum of all elements in the list: "+str(SUM))

Sum of all elements in the list: 165

In [83]:
NUM=[99,11,22,33,44,55]
print("Largest number of the list: ",max(NUM))

Largest number of the list:  99

In [84]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3